.container {
  position: fixed;
  right: 0.75rem;
  bottom: 0.75rem;
  max-width: 380px;
  width: 90%;
  padding: 0.75rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: var(--border-radius);
  background-color: var(--accent-1);
  box-shadow: var(--box-shadow);
}

.textContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0 0.5rem;
}

.text {
  padding-right: 0.75rem;
  font-size: 0.75rem;
}

.denyButton {
  margin-bottom: 0.25rem;
  color: var(--accent-3);
  font-size: 0.8rem;
}

.button {
  padding: 0.5rem 0.75rem;
  color: var(--accent-2);
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  background-color: var(--violet);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  white-space: nowrap;
}

.button:hover {
  background-color: var(--violet-dark);
}

.button:focus {
  outline-color: var(--violet);
}

.button:active {
  color: var(--accent-6);
}

.closeButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-weight: 300;

  color: var(--accent-3);
  transform: rotate(45deg);
}

.closeButton:hover {
  color: var(--accent-2);
}

.closeButton:focus,
.closeButton:active {
  color: var(--accent-1);
  outline: none;
}
