.container {
  position: fixed;
  right: 0.75rem;
  bottom: 0.75rem;
  max-width: 380px;
  width: 90%;
  padding: 0.75rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: var(--border-radius);
  background-color: var(--accent-1);
  box-shadow: var(--box-shadow);
}

.textContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0 0.5rem;
}

.text {
  padding-right: 0.75rem;
  font-size: 0.75rem;
}

.denyButton {
  margin-bottom: 0.25rem;
  font-size: 0.8rem;
}

.button {
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  color: var(--text-primary);
  background-color: var(--blue);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  white-space: nowrap;
}

.button:hover {
  background-color: var(--blue-dark);
}

.button:focus {
  background-color: var(--blue-darker);
}

.button:active {
  background-color: var(--blue-darkest);
}

.closeButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-weight: 300;
  transform: rotate(45deg);
}

.closeButton,
.denyButton {
  color: var(--accent-5);
}

.closeButton:hover,
.denyButton:hover {
  color: var(--accent-4);
}

.closeButton:focus,
.closeButton:active,
.denyButton:focus,
.denyButton:active {
  color: var(--accent-3);
}
