.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
}

.title {
  font-size: 2rem;
}

.text {
  margin-top: 1rem;
}
