/* Base */

.container {
  width: auto;
  padding: 0.75rem 1.25rem;
  color: var(--secondary);
  border: 1px solid;
  border-radius: var(--border-radius);
  cursor: pointer;
}

/* Primary */

.btnPrimary {
  font-weight: 600;
  font-size: 0.9rem;
  border-color: var(--blue);
  background-color: var(--blue);
}

.btnPrimary:hover {
  border-color: var(--blue-dark);
  background-color: var(--blue-dark);
}

.btnPrimary:focus {
  border-color: var(--blue-darker);
  background-color: var(--blue-dark);
}

.btnPrimary:active {
  border-color: var(--blue-darker);
  background-color: var(--blue-darker);
}

/* Secondary */

.btnSecondary {
  font-size: 0.8rem;
  font-weight: 300;
}

.btnSecondary:hover {
  border-color: var(--blue);
}

.btnSecondary:focus {
  border-color: var(--blue-dark);
}

.btnSecondary:active {
  border-color: var(--blue-darker);
}

@media (min-width: 768px) {
  .btnPrimary {
    font-size: 0.95rem;
  }

  .btnSecondary {
    font-size: 0.9rem;
  }
}
