.container {
  width: 100%;
  padding: 1.25rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary);
  background-color: var(--footer-background);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex: 2;
}

.rightContainer {
  position: absolute;
  right: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
