/* Light Mode */
:root {
  /* Backgrounds */
  --header-background: hsla(0, 0%, 90%, 0.8);
  --footer-background: hsl(0, 0%, 10%);
  --body-background: hsl(0, 0%, 98%);

  --primary: hsl(0, 0%, 95%);
  --primary-2: hsl(210, 15%, 95%);

  --secondary: hsl(210, 15%, 95%);
  --secondary-2: hsl(0, 0%, 7%);

  /* Texts */
  --text-primary: hsl(0, 0%, 10%);
  --text-secondary: hsl(0, 0%, 85%);

  --selection: var(--cyan);

  /* Icons */
  --theme-icon: hsl(34, 89%, 59%);

  /* Hover States */
  --hover: hsla(0, 0%, 0%, 0.075);
  --hover-1: hsla(0, 0%, 0%, 0.15);
  --hover-2: hsla(0, 0%, 0%, 0.25);

  /* Accents */
  --accent-0: hsl(0, 0%, 100%);
  --accent-1: hsl(0, 0%, 98%);
  --accent-2: hsl(0, 0%, 92%);
  --accent-3: hsl(0, 0%, 60%);
  --accent-4: hsl(0, 0%, 53%);
  --accent-5: hsl(0, 0%, 40%);
  --accent-6: hsl(0, 0%, 27%);
  --accent-7: hsl(0, 0%, 20%);
  --accent-8: hsl(0, 0%, 7%);
  --accent-9: hsl(0, 0%, 0%);

  /* Blue */
  --blue: hsl(212, 100%, 48%);
  --blue-dark: hsl(212, 100%, 35%);
  --blue-darker: hsl(212, 100%, 25%);
  --blue-darkest: hsl(212, 100%, 20%);

  /* Red */
  --red-bright: hsl(3, 98%, 48%);
  --red: hsl(0, 68%, 55%);
  --red-error: hsl(1, 83%, 63%);

  /* Pink */
  --pink: hsl(330, 100%, 50%);
  --pink-light: hsl(330, 100%, 61%);

  --magenta: hsl(336, 82%, 57%);

  /* Violet */
  --violet: hsl(270, 67%, 47%);
  --violet-dark: hsl(262, 55%, 35%);

  /* Gray */
  --gray-light: hsl(0, 0%, 85%);
  --gray: hsl(0, 0%, 50%);
  --gray-dark: hsl(0, 0%, 16%);
  --gray-darker: hsl(0, 0%, 8%);
  --gray-darkest: hsl(0, 0%, 6%);

  /* More */
  --cyan: hsl(188, 72%, 47%);
  --green: hsl(151, 54%, 46%);
  --purple: hsl(305, 94%, 54%);

  --white: hsl(0, 0%, 92%);
}

/* Dark Mode [start] */
[data-theme='dark'] {
  /* Backgrounds */
  --header-background: hsla(240, 1%, 15%, 0.8);
  --body-background: hsl(0, 0%, 12%);

  --primary: hsl(0, 0%, 0%);
  --primary-2: hsl(0, 0%, 7%);
  --secondary: hsl(0, 0%, 100%);
  --secondary-2: hsl(210, 17%, 95%);

  /* Texts */
  --text-primary: hsl(0, 0%, 100%);
  --text-secondary: hsl(0, 0%, 0%);

  /* Icons */
  --theme-icon: hsl(210, 25%, 98%);

  /* Hover States */
  --hover: rgba(255, 255, 255, 0.075);
  --hover-1: rgba(255, 255, 255, 0.15);
  --hover-2: rgba(255, 255, 255, 0.25);

  /* Accents */
  --accent-9: hsl(0, 0%, 100%);
  --accent-8: hsl(0, 0%, 98%);
  --accent-7: hsl(0, 0%, 91.8%);
  --accent-6: hsl(0, 0%, 60%);
  --accent-5: hsl(0, 0%, 53%);
  --accent-4: hsl(0, 0%, 40%);
  --accent-3: hsl(0, 0%, 27%);
  --accent-2: hsl(0, 0%, 20%);
  --accent-1: hsl(0, 0%, 7%);
  --accent-0: hsl(0, 0%, 0%);
}

/* Dark Mode [end] */
