.container {
  width: 100%;
  font-size: 0.9rem;
  padding: 0.5rem;
  background-color: var(--accent-2);
  border: 1px solid var(--accent-3);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--box-shadow);
  resize: vertical;
  min-height: 50px;
  max-height: 200px;
}

.container::-webkit-input-placeholder {
  color: var(--accent-5);
}

.container::-moz-placeholder {
  color: var(--accent-5);
}

.container:-ms-input-placeholder {
  color: var(--accent-5);
}

.container::-ms-input-placeholder {
  color: var(--accent-5);
}

.container::placeholder {
  color: var(--accent-5);
}

@media screen and (min-width: 568px) {
  .container {
    height: 80px;
    max-height: 200px;
  }
}
