.container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  max-height: var(--header-offset);
  padding: 1.25rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-primary);
  background-color: var(--header-background);
  -webkit-backdrop-filter: var(--backdrop-filter);
  backdrop-filter: var(--backdrop-filter);
  z-index: 1000;
}
