.gridContainer {
  display: grid;
  gap: 2rem;
  width: 100%;
  max-width: 380px;
}

@media (min-width: 620px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px;
  }
}

@media (min-width: 1080px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
  }
}
