.container {
  position: relative;
}

.list {
  --bg-color: var(--accent-2);

  position: absolute;
  right: calc(100% + 1rem);
  top: -0.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.list::after {
  content: '';
  display: block;
  position: absolute;
  top: 0.5rem;
  left: 100%;

  border: 0.5rem solid transparent;
  border-left: 0.5rem solid var(--bg-color);
  border-right: none;
  width: 0;
  height: 0;
}
