.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;

  font-size: 0.9rem;
  font-weight: 300;
}

.icon {
  font-size: 1.25em;
  margin-top: -0.15em;
}

.text {
  flex: 1;
}

@media (min-width: 900px) {
  .container {
    gap: 0.4rem;
  }
}
