.container {
  --icons-per-row: 5;
  --icon-size: 1.5rem;
  --gap: 1rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap);
  margin-top: 1.5rem;

  max-width: calc(var(--icon-size) * var(--icons-per-row) * 2);
}

.icon {
  position: relative;
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
}

/* Required for NextJS logo */
.whiteCircleBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--white);
  z-index: 0;
}

@media (min-width: 768px) {
  .container {
    margin-top: 1.5rem;
  }

  .icon {
    --icon-size: 2rem;
  }
}
