.container {
  flex: 1;
  width: 100%;
  padding: 2rem;
  font-size: 0.75rem;
}

@media (min-width: 568px) {
  .container {
    font-size: 0.85rem;
  }
}

@media (min-width: 768px) {
  .container {
    font-size: 1rem;
    max-width: 900px;
  }
}
